img {
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  margin-top: 100px;
  font-weight: 700;
}

.title_sub {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.profile {
  width: 200px;
}

.profile img {
  border-radius: 50%;
}